
body{
    font-family: 'YuseiMagick',sans-serif;
    font-size: 16px;
    position: relative;
    background: #233D58;
}
body *{
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 35px;
    background: #233D58;
    position: relative; 
    z-index: 999;
}
header h1{
    display: none;
    position: relative;
    vertical-align: top;
}
header nav{
    display: inline-block;
    margin: 0px;
    height: 100%;
}
header #showMenu{
    height: 100%;
    width: auto;
    display: inline-block;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    
}
#cardMenu{
    display: none;
    position: relative;
    top: 0px;
    background:white;
    width: 200px;
    margin-bottom: 10px;
    border-right: 3px solid rgb(53, 60, 73);
    top: -37px;
    z-index: 99;
    padding-bottom: 50px;
}
#cardMenu #cerrarMenu{
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
#cardMenu #cerrarMenu img:hover{
    transform-origin: center;
    transform: rotate(190deg);
}
#cardMenu h2{
    margin: 1px 1px 1px 5px;
    display: block;
}
#cardMenu ul{
    margin: 3px 2px 5px 2px;
    padding: 0px;
}
#cardMenu li{
    list-style: none;
    line-height: 2em;
    font-size: 1.5em;
    padding: 10px 40px 10px 40px;
    text-align: center;
    cursor: pointer;
}
#cardMenu li:hover{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    font-size: 1.7em;
}
#cardMenu li a{
    text-decoration: none;
}

nav img#x{
    height: 1em;
    width: auto;
}
header nav figure{
    margin: 0px;
    margin-left: 10px;
    height: 100%;
}
nav #cardMenu figure{
    margin: 5px;
}
nav #cardMenu img#logo{
    display: block;
    margin: 0px;
}
nav #showMenu img#menu{
    height: 100%;
    width: auto;
}
header #prevSection,
header #nextSection{
    width: 25px;
    height: 25px;
    background: transparent;
    cursor: pointer;
    margin:5px;
    position: absolute;
    top:0px;
    overflow: hidden;
}
div#nextSection{
    right:5px;
}
div#prevSection{
    right:45px;
}
#prevSection img,
#nextSection img{
    width: 50%;
    top: -19px;
    left: -19px;
}
#prevSection img{
    transform: rotate(180deg);
}
div#slider{
    width: 100%;
    height: 600px;
    position: relative;
}


div#slider section.slide{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}
div#slider > *{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
#slider #home{
    background: #233D58;
    position: relative;
    text-align: center;
}
#slider #home .mainanimation{
    background: none;
    width: 90%;
    margin-left: 5%;
    min-height: 300px;
    position: absolute;
}
#slider #home .mainlogo{
    background: none;
    position: relative;
    width: 60vw;
    margin-left: 20vw;
    min-height: 430px;

}
#slider #home .mainlogo figure,
#slider #home .mainlogo img{
    width: 100%;
    margin: 0px;
}
#slider #home .buttonspage{
    width: 70%;
    position: relative;
    left: 15%;
    text-align: center;
}
#slider #home .buttonspage > *{
    display: inline-block;
    width: 40%;
    margin: 5px 2.5%;
    color: white;
    padding: 15px 2.5%;
    border-radius: 6px;
}
#slider #home .buttonspage #contratame{
    cursor: pointer;
    background: #F8931F;
}
#slider #home .buttonspage a{
    text-decoration: none;
    background: #29abe2;
}

#slider #home .mainlogo h2{
    font-size: 1.2em;
    padding-top: 50px;
    margin: 0px;
    color: white;
    font-weight: lighter;
}
#slider #home .mainlogo strong{
    font-size: 2em;
    display: block;
}

#slider #sobre{
    background: #233D58;

}
#slider #skills{
    background: #233D58;

}
#slider #portfolio{
    background: #233D58;

}
#slider #blog{
    background: #233D58;

}
div#contact_button{
    width: 60px;
    height: 60px;
    background: #F8931F;
    color: white;
    border-radius: 50%;
    z-index: 80;
    position: fixed;
    right: 10px;
    top: 80vh;
}
div#contact_button:hover{
    cursor: pointer;
}
div#contact_button::before{
    font-family: "icomoon";
    content: "\e945";
    font-size: 2em;
    position: relative;
    top: 12px;
    right: -15px;

}

div#contact_form{
    position: absolute;
    width: 250px;
    right: 0px; 
    top: 35px;
    background:white;
    border: 1px solid white;
    display: none;
    height: 100vh;
    z-index: 999;
    border: 1px solid rgb(97, 98, 117);
}
#contact_form form{
    width: 100%;
    position: relative;
}
#contact_form form > *{
    width: 100%;
}
#contact_form form textarea,
#contact_form form input{
    width: 80%;
    display: block;
    margin: 20px 10% 20px 10%;
    border: none;
    border-bottom: 2px solid gray;
}
#contact_form form textarea{
    margin-bottom: 50px;
}
#contact_form #button{
    background: #F8931F;
    color: white;
    border: none;
    padding: 8px 0px;
    border-radius: 8px;
    cursor: pointer;
}
div#contact_form #close_form{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 85%;
    top: 190px ;
}
#close_form::before{
    font-family: "icomoon";
    content: "\ea0f";
    position: relative;
    top: 5px;
    left: 9px;
    cursor: pointer;
}
#contact_form figure{
    height: 180px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    background: #29abe2;
}
#contact_form figure img{
    position: relative;
    top: 10%;
    height: 80%;
    margin: 0px;
}
#contact_form p{
    margin-left: 20px;
    width: 90%;

}
div#contact_form form input{
    display: inline-block;
}
footer{
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    z-index: 70;
    height: 100px;
    position: fixed;
    bottom: -80px;
}
footer:hover{
    bottom: 0px;
    transition-duration: .6s;
}
footer::after{
    font-family: 'icomoon';
    content: "\ea41";
    font-size: 3em;
    position: absolute;
    top: -35px;
    cursor: pointer;
    background-color: black;
    border-radius: 50% 50%;
    transform: rotate(180deg);
    left: 45vw;

}
footer:hover:after{
    transform: rotate(0deg);
}
footer .rrss{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background: none;

}
footer .rrss a{
    width: 40px;
    height: 40px;
    background: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
footer .rss a::before{
    color: white;
    text-decoration: none;
    position: absolute;
}
footer .rrss a:nth-child(1):before{
    font-family: "icomoon";
    content: "\ea90";
    position: absolute;
    font-size: 2em;
    top: 0px;
    left: 5px;
}
footer .rrss a:nth-child(2):before{
    font-family: "icomoon";
    position: absolute;
    content: "\ea92";
    font-size: 2em;
    top: 0px;
    left: 5px;

}
footer .rrss a:nth-child(3):before{
    font-family: "icomoon";
    content: "\ea96";
    position: absolute;
    font-size: 2em;
    top: 0px;
    left: 5px;

}
footer .rrss a:nth-child(4):before{
    font-family: "icomoon";
    content: "\ea9d";
    position: absolute;
    font-size: 2em;
    top: 0px;
    left: 5px;

}
footer p {
    font-size: 0.7em;
}

@media screen and (min-width: 480px){
    #slider #home .mainlogo{
        width: 270px;
        left: 50%;
        margin-left: -135px;
        padding-bottom: 50px;
    }
    #slider #home .mainlogo h2{
        font-size: 1.4em;
    }
    #slider #home .mainlogo figure{
        width: 80%;
        margin-left: 10%;
    }
    #slider #home .buttonspage > *{
        width: 200px;
    }



}
@media screen and (min-width:600px){
    body{
    }
}
@media screen and (min-width:767px){
    body{
    }
    header{
        height: 60px;
    }
    header h1{
        display: inline-block;
        width: 20%;
        margin: 0px;
        margin-left: 20px;
        height: 100%;
        min-width: 260px;
    }
    header h1 > *{
        display: inline-block;
        text-decoration: none;
        vertical-align: middle;
        color: white;
        font-size: .8em;
        margin: 0px;
        height: 100%;
        line-height:60px ;
    } 
    header h1 a figure{
        width: 40%;
        height: 100%;
        margin: 0px;
    }
    header h1 a figure img{
        width: auto;
        height: 100%;
    }
    nav #showMenu,
    nav #cerrarMenu,
    nav #cardMenu figure{
        display: none;
    }
    nav{
        background: none;
        width: 60%;
    }

    #cardMenu{
        position: relative;
        text-align: right;
        background: none;
        border: none;
        width: 100%;
        top: 0px;
        padding: 0px;
        margin: 0px;
        display: inline-block;
    }
    #cardMenu ul{
        display: inline-block;
        margin: 0px;
    }
    #cardMenu li{
        position: relative;
        padding: 0px;
        display: inline-block;
        width: 75px;
        background: none;
        text-align: center;
        font-size: 1em;
        margin: 0px -2px;
        color: white;
        line-height: 60px;
    }
    #cardMenu li:hover{
        font-size: 1.1em;
        border:none;
    }
    #cardMenu li a{
        display: inline;
        color: white;
        padding-bottom: 5px;
    }
    #cardMenu li a:hover{
        border-bottom: 3px solid white;
    }
    #cardMenu li::before{
        content: "";
        width: 75px;
        border: 2px sold black;
        bottom: 100%;
        left: 100%;
    }

    #cardMenu h2{
        display: none;
    }

    header #nextSection,
    header #prevSection{
        position: absolute;
        width: 50px;
        height: 50px;
        background: rgb(43, 110, 233);
        border-radius: 50% 50%;
        right: 50px;
        z-index: 999;
    }
    header #prevSection{
        top: 110px;
    }
    header #nextSection{
        top: 190px;
    }
    #prevSection img,
    #nextSection img
    {
        width: 100%;
        height: 80%;
        position: absolute;
        top: 5px;
        left: 0px;
    }
    div#contact_form{
        top: 60px;
        width: 400px;
    }
    div#contact_button{
        right: 50px;
    }
}
@media screen and (min-width:950px){
    body{
    }
}